{% extends "emails/base.twig" %}

{% block title %}Reset your Password{% endblock %}
{% block content %}
	<p>
		Hi <b>{{ user.first_name }} {{ user.last_name }}</b>,
		<br/><br/>
		Reset your password by visiting <a href="https://titan:9998{{ reset_url }}">here</a>.
		<br/><br/>
		<span style="font-size: 12px;">If you did not initiate this, you can ignore this email. Someone likely entered your email by mistake.</span>
	</p>
{% endblock %}