{% extends "emails/base.twig" %}

{% block title %}Reset your Password{% endblock %}
{% block content %}
	<p>
		Hi {{ user.first_name }} {{ user.last_name }},</p>
		<br/>
		Reset your password by visiting here: <a href="https://titan:9998{{ reset_url }}">https://titan:9998{{ reset_url }}</a>
	</p>
{% endblock %}