{% extends "base.twig" %}

{% block title %}Can I see your invitation?{% endblock %}
{% block content %}
	<h2>Sorry, this area is closed for a private party</h2>
	<p>{{ flash.error }}</p>
{% endblock %}