{% extends "base.twig" %}

{% block title %}Hmm...are you sure that's where you left it?{% endblock %}
{% block content %}
<div class="site clearfix">
	<div class="context-loader-container" id="site-container">
		<div id="http-status-container" class="component-status-container">
			<h2>Odd, looks like that doesnt exist</h2>
			<p>{{ flash.error }}</p>
		</div>
	</div>
</div>
{% endblock %}