{% extends "base.twig" %}

{% block title %}That would be an error...we're sorry.{% endblock %}
{% block content %}
<div class="site clearfix">
	<div class="context-loader-container" id="site-container">
		<div id="http-status-container" class="component-status-container">
			<h2>Huh...well that was unexpected</h2>
			<p>{{ flash.error }}</p>
		</div>
	</div>
</div>
{% endblock %}