<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Welcome to hackstack{% endblock %}</title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/core/components.css">
		<link rel="stylesheet" href="/css/core/simple-line-icons.css">
		<link rel="stylesheet" href="/css/app/core.css">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
		<!--[if lt IE 9]>
			<script src="/javascript/core/ie/html5shiv.js"></script>
		<![endif]-->

		<!-- IE7 support of the icons font. -->
		<!--[if lte IE 7]>
			<script src="/javascript/core/ie/icons-lte-ie7.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="wrapper">
			{% block navbar %}
				<nav role="navigation" class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button data-target="#button-sign-in" data-toggle="collapse" class="navbar-toggle" type="button">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="/" class="navbar-brand">App Name</a>
						</div>
						{% if (show_sign_in is not defined) or (show_sign_in != false) %}
							<div id="button-sign-in" class="collapse navbar-collapse navbar-right">
								<form method="GET" action="/{{ ((signed_in is defined) and (signed_in == true)) ? "signout" : "signin" }}" accept-charset="UTF-8">
									<button class="btn btn-default navbar-btn" type="submit">{{ ((signed_in is defined) and (signed_in == true)) ? "Sign out" : "Sign in" }}</button>
								</form>
							</div>
						{% endif %}
					</div>
				</nav>
			{% endblock %}
			{% block content %}
				<h2>Hackstack Homepage</h2>
			{% endblock %}
		</div>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>