{% extends "base.twig" %}

{# Turn off the sign in button when already on the sign in page #}
{% set show_sign_in = false %}

{% block title %}Forgot your login?{% endblock %}
{% block content %}
<div class="site clearfix">
	<div class="context-loader-container" id="site-container">
		<div id="login" class="auth-form">
			<form method="POST" action="/forgot" accept-charset="UTF-8">
				<div style="margin:0;padding:0;display:inline">
					<input type="hidden" value="{{ csrf_token }}" name="authenticity_token">
				</div>
				<div class="auth-form-header">
					<h1>Forgot password</h1>
				</div>
				<div class="auth-form-body">
					<label for="forgot_password_field">Enter the Email Address for your account</label>
					<input type="text" tabindex="1" name="forgot_password_user" id="forgot_password_field" class="input-block" autofocus="autofocus" autocapitalize="off">
					<input type="submit" value="Send password reset" tabindex="2" name="commit" class="button">
				</div>
			</form>
		</div>
	</div>
</div>		
{% endblock %}