{% extends "base.twig" %}

{# Turn off the sign in button when already on the page #}
{% set show_sign_in = false %}

{% block title %}Change your password{% endblock %}
{% block content %}
<div class="site clearfix">
	<div class="context-loader-container" id="site-container">
		{% if (flash.error is defined) %}
			<div class="error-message alert alert-danger">{{ flash.error }}</div>
		{% endif %}
		<div id="login" class="auth-form">
			<form method="POST" action="/reset" accept-charset="UTF-8">
				<div class="auth-form-header">
					<h1>Change your password</h1>
				</div>
				<div class="auth-form-body">
					<label for="email">Enter your email address</label>
					<input type="text" tabindex="1" name="email" id="email" class="input-block" autofocus="autofocus" autocapitalize="off" />
					<label for="password">Enter a new password</label>
					<input type="password" tabindex="2" name="password_first" id="password_first" class="input-block" autofocus="autofocus" autocapitalize="off" />
					<input type="password" tabindex="3" name="password_second" id="password_second" class="input-block" autofocus="autofocus" autocapitalize="off" />
					<input type="hidden" value="{{ reset_code }}" name="reset_code" id="reset_code" autocapitalize="off" />
					<input type="submit" value="Update password" tabindex="4" name="commit" class="button" />
					<input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}" />
				</div>
			</form>
		</div>
	</div>
</div>		
{% endblock %}